{% extends "tasks_base.html" %} {% block title %}Balancing{% endblock %}

{% block content %}

<!--Start Log Message Section-->
<!-- <form method="POST" action="/logBalance">
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; max-width: 400px; padding: 16px;">
      <label for="logMessage">Log Message</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="logMessage" placeholder="Type log message here..." aria-label="Type log message here..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div> -->
  <!--End Log Message Section-->

<!--Start Ship Grid Section-->
<!--8 rows, 12 columns needed-->
<!--Custom border settings & layout-->
<style>
  .custom-border {
    border: 1.3px solid black;
    width: 67px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .layout-right {
    position: absolute;
    bottom: 105px;
    right: 30px;
    width: auto;
    font-size: 12px;
  }
  .truck-icon {
    position: absolute;
    bottom: 105px;
    left: 300px;
    font-size: 70px;
  }
</style>

<!--Little Truck-->
<i class="fas fa-truck truck-icon"></i>

<!--1 0f 8-->
<div class="container layout-right">
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--2 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--3 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--4 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--5 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--6 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--7 0f 8-->
<div class="row">
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
</div>

<!--8 0f 8-->
<!--grey for the unavailable positions on the ship's grid-->
<div class="row">
  <div class="col-1 custom-border" style="background-color: grey;">NAN</div>
  <div class="col-1 custom-border" style="background-color: grey;">NAN</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border">box</div>
  <div class="col-1 custom-border" style="background-color: grey;">NAN</div>
  <div class="col-1 custom-border" style="background-color: grey;">NAN</div>
</div>
</div>
<!--End Ship Grid Section-->

  
{% endblock %}