{% extends "tasks_base.html" %} {% block title %}Balancing{% endblock %}

{% block content %}
<div class="mt-4" id="nextBtn">
    <form method="post" action="/nextBalanceInstruction">
        <button style="position: fixed; bottom: 50vh; left: 20vw; padding: 8px;" type="submit" class="btn btn-secondary" id="nextButton">Next</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const inputDisplay = document.getElementById('inputDisplay'); 
        if ('{{solution}}' === "Cycle Complete. Please click the cycle complete button.") {
            const newEntry = document.createElement('div');
            newEntry.textContent = '{{solution}}';
            inputDisplay.appendChild(newEntry);
            const nextBtn = document.getElementById('nextBtn');
            if (nextBtn) {
                nextBtn.style.display = 'none';
            }
        } else {
            const newEntry = document.createElement('div');
            newEntry.textContent = '{{solution}}';
            inputDisplay.appendChild(newEntry);
        }
        const completeCycleForm = document.getElementById('completeCycleForm');
        if (completeCycleForm) {
            completeCycleForm.onsubmit = function () {
                setTimeout(function () {
                    window.location.href = "/";
                }, 500);
            };
        }
        if('{{fp0}}' != 'L' && '{{fp0}}' != 'M'){
            document.getElementById('{{fp0}}{{fp1}}').style.backgroundColor = "lightgreen";
        }
        console.log('{{sp0}}')
        if('{{sp0}}' != 'L' && '{{sp0}}' != 'M'){
            document.getElementById('{{sp0}}{{sp1}}').style.backgroundColor = "pink";
        }
    });
</script>

{% endblock %}