{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<!--Start Balance & Unlod/load Buttons-->

<div class="d-flex justify-content-center align-items-center" style="max-height: 75vh;height: 75vh;">
  <form method="POST" action="/balanceRedirect" enctype="multipart/form-data">
    <div class="position-relative">
      <label class="btn btn-secondary btn-lg custom-button" for="manifest-input-balance">Balance</label>
      <input style="display: none;" type="file" name='manifest-input-balance' id='manifest-input-balance' accept=".txt" onchange="balanceSubmit()">
      <input style="display: none;"id='manifest-submit-balance' type="submit" value="upload">
    </div>
  </form>

  <form method="POST" action="/unload_loadRedirect" enctype="multipart/form-data">
    <div class="position-relative">
      <label class="btn btn-secondary btn-lg custom-button" for="manifest-input-unload-load">Unload/Load</label>
      <input style="display: none;" type="file" name='manifest-input-unload-load' id='manifest-input-unload-load' accept=".txt" onchange="unloadLoadSubmit()">
      <input style="display: none;"id='manifest-submit-unload-load' type="submit" value="upload">
    </div>
  </form>
</div>

<script>
  function balanceSubmit() {
    setInterval(() => {
    document.getElementById('manifest-submit-balance').click();}
    ,100);
  }

  function unloadLoadSubmit() {
    setInterval(() => {
    document.getElementById('manifest-submit-unload-load').click();}
    ,100);
  }
</script>

<style>
    .custom-button{ 
        width: 200px;
        height: 200px;
        margin: 2vw;
        border-radius: 5vh;
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.5vw;
        max-height: 15vw;
        max-width: 15vw;
    }
</style>
<!--End Balance & Unlod/load Buttons-->

<!--Start Log Message Section-->
<form method="POST" action="/log"> <!--needs to also change text size to scale with view size-->
    <div style="position: relative; bottom: 10vh; right: 1vw; max-width:30vw; font-size: 2vw;">
      <label for="logMessage">Log Message</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" style="font-size: 1.4vw; max-height: 8vh;" name="logMessage" placeholder="Type log message here..." aria-label="Type log message here..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" style="max-height: 8vh; max-width: 8vw; font-size: 1.4vw;">Submit</button>
        </div>
      </div>
    </form>
</div>
<!--End Log Message Section-->

{% endblock %}