<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>
      {% block title %}{% endblock %}
    </title>
    </head>

    <body>
<!--Begin Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse"
        data-target="#navbar"
        >
        <span class=""navbar-toggler-icon></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="Sign In" href="/signin">Sign In</a>
        </div>
    </div>
</nav>
<!--End Navbar-->

<!--Begin Ship Grid 8x12-->
<!--End Ship Grid 8x12-->

<!--Begin Buffer Grid 4x24-->
<!--End Buffer Grid 4x24-->


<!--Start Log Message Section-->
<form method="POST">
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; max-width: 400px; padding: 16px;">
      <label for="logMessage">Log Message</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type log message here..." aria-label="Type log message here..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Submit</button>
        </div>
      </div>
    </form>
</div>
<!--End Log Message Section-->

<!--Begin Complete Cycle Button-->
<div style="position: fixed; bottom: 0; right: 0; width: 100; padding: 15px;">
    <button type="button" class="btn btn-success btn-lg">Complete Cycle</button>
</div>
<!--End Complete Cycle Button-->

<!--Install Packages for bootstrap-->
    <div class ="container">
      {% block content %} {% endblock %}
    </div>
        <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    </body>

</html>