<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />

        <link 
          rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

      <title>
        {% block title %}{% endblock %}
      </title>
  </head>
  <body>
  <!--Begin Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse"
        data-target="#navbar"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <form method="post" action="/homeRedirect">
            <button class="fa fa-home" type="submit" style="color: white; border: none; padding: .5vh .5vw; background-color: rgb(0,0,0,0); margin-bottom: .5vh; margin-right: 1vw;">
            </button>
          </form>
          <form method="post" action="/signIn">
              <div class="form-group">
                <input
                type="text"
                class="form-control"
                id="empName"
                name="empName"
                placeholder="Sign in"
                />
              </div>
            </form>
        </div>
      </div>
    </nav>
<!--End Navbar-->
<!--Begin Complete Cycle Button-->
<div style="position: fixed; bottom: 0; right: 0; width: 100; padding: 15px;">
    <button type="button" class="btn btn-success btn-lg">Complete Cycle</button>
</div>
<!--End Complete Cycle Button-->

<!--Begin Log message section-->
<form method="POST" action="/log">
  <div style="position: fixed; bottom: 0; left: 0; width: 100%; max-width: 400px; padding: 16px;">
    <label for="logMessage">Log Message</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="logMessage" placeholder="Type log message here..." aria-label="Type log message here..." aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
<!--End Log message section-->

<!--Start Ship Grid Section-->
<!--8 rows, 12 columns needed-->
<!--Custom border settings & layout-->
<style>
  .custom-border {
    border: 1.3px solid black;
    width: 67px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .layout-right {
    position: absolute;
    bottom: 105px;
    right: 30px;
    width: auto;
    font-size: 12px;
  }
  .truck-icon {
    position: absolute;
    bottom: 105px;
    left: 300px;
    font-size: 70px;
  }
</style>

<!--Little Truck-->
<i class="fas fa-truck truck-icon"></i>

<!--Loop that handles filling in the table-->
<div class="container layout-right">
  {% for j in range(0,8)%}
  <div class="row">
    {% for i in range(0, 12) %}
    <div class="col-1 custom-border" {% if grid['' ~ i][7-j].name == 'NAN' %} style="background-color: grey;" {% endif %} title="{{grid['' ~ i][7-j].name}}, {{grid['' ~ i][7-j].weight}}">{{grid['' ~ i][7-j].name}} <br/> {{grid['' ~ i][7-j].weight}}</div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<!--End Ship Grid Section-->

<!--Install Packages for bootstrap-->
    <div class ="container">
      {% block content %} {% endblock %}
    </div>
        <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </body>

</html>