{% extends "tasks_base.html" %} {% block title %}Unload and Load{% endblock %}

{% block content %}

<!--Begin Unload/Load Button-->
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div style="position: fixed; top: 8vh; left: 0vw; width: 100; padding: 30px;">
                <div class="btn-group mb-4" role="group" aria-label="unload.load">
                    <button type="button" class="btn btn-secondary" id="unloadBtn">Unload</button>
                    <button type="button" class="btn btn-secondary" id="loadBtn">Load</button>
                </div>
            </div>
        </div>
<!--Buttons to move through the instructions for loading/unloading-->
        <div class="mt-4" id="nextBtn" style="display:none;">
            <form method="post" action="/nextInstruction">
                <button style="position: fixed; bottom: 50vh; left: 20vw; padding: 8px;" type="submit" class="btn btn-secondary" id="nextButton">Next</button>
            </form>
        </div>
<!--Container info input-->
<!--These buttons will only appear when user selects Unload/Load buttons-->
        <div style="position: fixed; top: 10vh; left: 18vw; width: 100; padding: 30px;">
            <form id="containerForm">
                <div class="mb-3" id="nameField" style="display:none;">
                    <label for="containerName" class="from-label">Container Name: </label>
                    <input style="width: 170px" type="text" class="form-control" id="containerName" placeholder="Enter Name...">
                </div>
                <div class="mb-3" id="weightField" style="display:none;">
                    <label for="containerWeight" class="form-label">Container Weight: </label>
                    <input style="width: 170px" type="number" class="form-control" id="containerWeight" placeholder="Enter Weight...">
                </div>
                <div class="mb-3" id="addField" style="display:none;">
                    <button type="button" class="btn btn-primary" id="addButton">Add</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-4" id="continueField" style="display:none;">
        <form method="post" action="/findSolution">
            <button style="position: fixed; bottom: 40vh; left: 20vw; padding: 8px;" type="submit" class="btn btn-success" id="continueButton">Continue</button> <!--We can change the verbage to something different if we want-->
        </form>
    </div>
</div>

<!--Button functionality-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const inputDisplay = document.getElementById('inputDisplay');
        const addButton = document.getElementById('addButton');
        const continueButton = document.getElementById('continueButton');
        const unloadBtn = document.getElementById('unloadBtn');
        const loadBtn = document.getElementById('loadBtn');
        const weightField = document.getElementById('weightField');
        const nameField = document.getElementById('nameField');
        const addField = document.getElementById('addField');
        const continueField = document.getElementById('continueField');
        const nextBtn = document.getElementById('nextBtn');
        let selectedAction = null;
        let containerData = JSON.parse(localStorage.getItem('containerData')) || [];

        // Allow for us to display the user input even after signing in/out or logging a message
        function renderContainerData() {
            if('{{solution}}' == '[]'){
                inputDisplay.innerHTML = ''; 
                containerData.forEach((entry, index) => {
                    const newEntry = document.createElement('div');
                    newEntry.textContent = `${entry.action}: ${entry.name} ${entry.weight || ''}`;
                    newEntry.id = index;

                    newEntry.addEventListener('mouseover', (e) => {
                        e.target.style.color = "red";
                    });
                    newEntry.addEventListener('mouseleave', (e) => {
                        e.target.style.color = "black";
                    });
                    newEntry.addEventListener('click', (e) => {
                        containerData.splice(index, 1); 
                        localStorage.setItem('containerData', JSON.stringify(containerData)); 
                        renderContainerData(); 
                    });

                    inputDisplay.appendChild(newEntry);
                });
            }
            else if('{{solution}}' == "Cycle Complete. Please click the cycle complete button."){
                unloadBtn.style.display = 'none';
                loadBtn.style.display = 'none';
                nameField.style.display = 'none';
                addField.style.display = 'none';
                continueField.style.display = 'none';
                weightField.style.display = 'none';
                nextBtn.style.display = 'none';
                newEntry = document.createElement('div');
                newEntry.textContent = '{{solution}}'
                inputDisplay.appendChild(newEntry);
            }
            else{
                unloadBtn.style.display = 'none';
                loadBtn.style.display = 'none';
                nameField.style.display = 'none';
                addField.style.display = 'none';
                continueField.style.display = 'none';
                weightField.style.display = 'none';
                nextBtn.style.display = 'block';
                newEntry = document.createElement('div');
                newEntry.textContent = '{{solution}}'
                inputDisplay.appendChild(newEntry);
            }
        }

        renderContainerData();

    unloadBtn.addEventListener('click', () => {
        selectedAction = 'Unload';
        nameField.style.display = 'block';
        addField.style.display = 'block';
        continueField.style.display = 'block';
        weightField.style.display = 'none';
    });

    loadBtn.addEventListener('click', () => {
        selectedAction = 'Load';
        nameField.style.display = 'block';
        addField.style.display = 'block';
        continueField.style.display = 'block';
        weightField.style.display = 'block';
    });

    idTracker = 0;
    addButton.addEventListener('click', () => {
        const containerName = document.getElementById('containerName').value;
        const containerWeight = document.getElementById('containerWeight').value;

        if(!containerName || !selectedAction){
            alert('Please make sure an action was selected and the container name is at least one character to continue');
            return;
        }

        newEntry = document.createElement('div');
        if(selectedAction ==='Load' && containerWeight){
            newEntry.textContent = `${selectedAction}: ${containerName} ${containerWeight}`;
            containerData.push({ action: selectedAction, name: containerName, weight: containerWeight });
            newEntry.id = idTracker;
            idTracker++;
            newEntry.addEventListener('mouseover', (e) => {
                e.target.style.color = "red";
            })
            newEntry.addEventListener('mouseleave', (e) => {
                e.target.style.color = "black";
            })
            newEntry.addEventListener('click', (e) => {
                e.target.remove();
            })
          //containerData.push({action: selectedAction, name: containerName, weight: containerWeight});
            localStorage.setItem('containerData', JSON.stringify(containerData));
            fetch('/unloadLoadRequest', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'  
                },
                body: JSON.stringify({action: selectedAction, name: containerName, weight: containerWeight}),
            });
        }
        else if(selectedAction === 'Unload'){
            newEntry.textContent = `${selectedAction}: ${containerName}`;
            containerData.push({ action: selectedAction, name: containerName, weight: 0})
            newEntry.id = idTracker;
            idTracker++;
            newEntry.addEventListener('mouseover', (e) => {
                e.target.style.color = "red";
            })
            newEntry.addEventListener('mouseleave', (e) => {
                e.target.style.color = "black";
            })
            newEntry.addEventListener('click', (e) => {
                e.target.remove();
            })
          //containerData.push({action: selectedAction, name: containerName});
            localStorage.setItem('containerData', JSON.stringify(containerData));
            fetch('/unloadLoadRequest', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'  
                },
                body: JSON.stringify({action: selectedAction, name: containerName, weight: 0}),
            });
        }
        else{
            alert('Input NOT Valid');
            return;
        }
        localStorage.setItem('containerData', JSON.stringify(containerData));
      //renderContainerData();

        inputDisplay.appendChild(newEntry);
        document.getElementById('containerName').value = '';
        if(selectedAction === 'Load') document.getElementById('containerWeight').value = '';
    });

        continueButton.addEventListener('click', () => {
            // Once button is hit the unload/load buttons disapear and instructions are to be displayed in box to the left
            // Buttons for unload/load are not displayed
            unloadBtn.style.display = 'none';
            loadBtn.style.display = 'none';
            nameField.style.display = 'none';
            addField.style.display = 'none';
            continueField.style.display = 'none';
            weightField.style.display = 'none';
            nextBtn.style.display = 'block';

            // Display gets cleared
            containerData = [];
            localStorage.removeItem('containerData');
            renderContainerData();
        });

        const completeCycleForm = document.getElementById('completeCycleForm');
        if (completeCycleForm) {
            completeCycleForm.onsubmit = function () {
                setTimeout(function () {
                    window.location.href = "/";
                }, 3000);
            };
        }

    });
</script>
{% endblock %}
