{% extends "tasks_base.html" %} {% block title %}Unload and Load{% endblock %}

{% block content %}

<!--Begin Unload/Load Button-->
<div style="position: fixed; top: 8vh; left: 0vw; width: 100; padding: 20px;">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Unload</button>
        <button type="button" class="btn btn-secondary">Load</button>
    </div>
</div>
<!--End Unload/Load Button-->

<!--Start Log Message Section-->
<!-- <form method="POST" action="/logUnloadLoad">
    <div style="position: fixed; bottom: 0; left: 0; width: 100%; max-width: 400px; padding: 16px;">
      <label for="logMessage">Log Message</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="logMessage" placeholder="Type log message here..." aria-label="Type log message here..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div> -->
  <!--End Log Message Section-->
  
{% endblock %}
